*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 75vw;
	margin: 0 auto;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	padding: 3rem 0;

	&__search {
		width: 25rem;

		& input {
			width: 100%;
			padding: 0.5rem 1rem;

			&::placeholder {
				text-align: center;
			}
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__tittle {
		font-size: 3rem;
		text-transform: uppercase;
		color: #009394;
	}
}
.block__tittle {
	font-size: 2rem;
	color: #009394;
	text-transform: uppercase;
	font-weight: 700;
}
.weather {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: #d7d7d7;
	padding: 2rem;
	&__loader {
		width: 100%;
		height: 100%;

		& img {
			width: 100%;
			height: 100px;
			object-fit: contain;
		}
	}
	&__current,
	&__hourly,
	&__nearby {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 3rem;
		background-color: #fff;
		padding: 2rem;

		& .current {
			&__top {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr;
				justify-items: center;
				font-size: 2rem;
				color: #009394;
				text-transform: uppercase;
				font-weight: 700;

				& .current__tittle {
					justify-self: start;
				}
				& #currentDate {
					justify-self: end;
				}
			}
			&__body {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr;
				justify-items: center;
			}
			&__status,
			&__temp,
			&__sunset {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				font-size: 2rem;
			}
			&__status {
				#currentWeatherIcon img {
					width: 8rem;
				}
			}
			&__temp {
				align-self: center;
				#currentTemp {
					font-size: 6rem;
					font-weight: 700;
				}
			}
			&__sunset {
				align-self: center;
				& .divTable {
					display: table;
					width: 100%;
				}
				& .divTableRow {
					display: table-row;
				}
				& .divTableHeading {
					background-color: #eee;
					display: table-header-group;
				}
				& .divTableCell,
				& .divTableHead {
					display: table-cell;
					padding: 3px 10px;
				}
				& .divTableHeading {
					background-color: #eee;
					display: table-header-group;
					font-weight: bold;
				}
				& .divTableFoot {
					background-color: #eee;
					display: table-footer-group;
					font-weight: bold;
				}
				& .divTableBody {
					display: table-row-group;
				}
			}
		}
		& .nearby {
			&__inner {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);

				gap: 1rem;
			}
			&__item {
				padding: 2rem;
				border: 1px solid #000;
			}
		}
	}
}
.divTable {
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell,
.divTableHead {
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #eee;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}
